body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    text-align: left;
    background-color: #FFFBF2;
  }
  
  .character img {
    width: 100%;
    height: auto;
  }
  
  .swiper-container .swiper-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
